<ion-header >
    <ion-toolbar color="primary">
      <ion-title text-left>
        <div style="float:left;margin-right:10px;height:40px"><img alt="logo" height="40" src="assets/imgs/rsui-logo.png" /></div>
        <div style="padding-top:5px;text-align:center" ><span style="font-size:28px">Quick Rater</span></div>
        <div style="clear:both"></div>
          </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="background-color:#f5f5f5">
      <ion-list>
            <ion-item>
              <ion-label class="rsui-label" Fixed>Class Code</ion-label>
              <ion-input type="text" (focus)="selectClasscode()" readonly [(ngModel)]="selectedClasscode" placeholder="Enter Class Code"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="rsui-label" Fixed>Location</ion-label>
                <ion-input type="text" [value]="selectedLocation" clearInput [formControl]="selectedLocationControl" placeholder="Enter Zipcode or City, State"></ion-input>
            </ion-item>
            <ion-item *ngIf="locationError">
              <p style="color:red">Invalid Location. Please enter zipcode or city, state.</p>
            </ion-item>
            <ion-item>
                <ion-label class="rsui-label" Fixed>Exposure</ion-label>
                <ion-input type="number" min="0" [value]="exposure" clearInput [formControl]="exposureControl"placeholder="Enter Exposure"></ion-input>
            </ion-item>   
            <ion-item *ngIf="exposureError">
              <p style="color:red">Enter exposure > 0.</p>
            </ion-item> 
          </ion-list>
          <ion-grid *ngIf="rateInfo?.rates?.premisesUnmodifiedRate && rateInfo?.rates?.premisesUnmodifiedRate != 0.00">
              <ion-row *ngIf="exposure">
                <ion-col class="rsui-col">Premises Premium:</ion-col>
                <ion-col class="rsui-col rsui-data-col">{{premisesPremium | currency:'USD':'symbol':'1.0-0'}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="rsui-col">Base Rate:</ion-col>
                <ion-col class="rsui-col rsui-data-col">{{rateInfo?.rates?.premisesUnmodifiedRate}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="rsui-col">Inc Limits Factor:</ion-col>
                <ion-col class="rsui-col rsui-data-col">{{rateInfo?.rates?.premisesIncreasedLimitsFactor}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="rsui-col">Final Rate:</ion-col>
                <ion-col class="rsui-col rsui-data-col">{{rateInfo?.rates?.premisesRate}}</ion-col>
              </ion-row>
          </ion-grid>
          <ion-grid *ngIf="rateInfo?.rates?.productsUnmodifiedRate && rateInfo?.rates?.productsUnmodifiedRate != 0.00">
              <ion-row *ngIf="exposure">
                <ion-col class="rsui-col">Products Premium:</ion-col>
                <ion-col class="rsui-col rsui-data-col">{{productsPremium | currency:'USD':'symbol':'1.0-0'}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="rsui-col">Base Rate:</ion-col>
                <ion-col class="rsui-col rsui-data-col">{{rateInfo?.rates?.productsUnmodifiedRate}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="rsui-col">Inc Limits Factor:</ion-col>
                <ion-col class="rsui-col rsui-data-col">{{rateInfo?.rates?.productsIncreasedLimitsFactor}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="rsui-col">Final Rate:</ion-col>
                <ion-col class="rsui-col rsui-data-col">{{rateInfo?.rates?.productsRate}}</ion-col>
              </ion-row>
          </ion-grid>
          <ion-grid *ngIf="totalPremium && totalPremium != 0.00">
              <ion-row>
                <ion-col class="rsui-col">Total Premium:</ion-col>
                <ion-col class="rsui-col rsui-data-col">{{totalPremium | currency:'USD':'symbol':'1.0-0'}}</ion-col>
              </ion-row>
          </ion-grid>
  </ion-content>
  