// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.rsui-button-md {
    font-weight: normal  !important;
    text-transform: none  !important;
  }

  .rsui-label {
    font-size:16px !important;
    font-weight: bold !important;
    color:black  !important;
  }

  .rsui-col {
    font-size: 16px;
    padding-bottom:0px !important;
  }

  .rsui-data-col {
    color: #0d4296 !important;
    font-weight: 700 !important;
  }

  .ml5 {
    margin-left: 5px !important
  }

  .mr5 {
    margin-right: 5px !important
  }

  .ml15 {
    margin-left: 15px !important
  }

  .pr10 {
    padding-right: 10px !important
  }

  .mt15 {
    margin-top: 15px !important
  }

  #closeBtn:hover{
    color: white;
  }

  .classcode-item:hover{
    background-color: lightgray !important;
  }